%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand.girl-next-door{:href => "/", "data-scroll" => '.header'} ACTION
    %ul.nav.navbar-nav.navbar-right
      %li.border-bottom-teal{:class => ('active' if action_name == 'team')}
        %a{:href => "#", "data-scroll" => '.team-section'} Team
    .center
      %a.btn.btn-default.navbar-btn.center{:href => "/"}
        Back to main
        %i.fa.fa-angle-double-right  