body, html {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, .name {
	font-family: "The Girl Next Door", cursive;
}

.name {
	font-size: 18px;
}

body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.lead {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}

.center {
	text-align: center;
}

.team-section, .contact, .definition-shoutout, .media-section, .student-spotlight {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.shoutout-header {
	font-size: 100px;
	letter-spacing: 0.2em;
}

.definition-shoutout {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.media-section {
	background-color: rgba(93, 93, 93, 0.2);
}

.left-align {
	text-align: left;
}

.background-black {
	background-color: rgba(0,0,0,0.4);
	padding: 0.2em;
	color: #fff;
}

.action-logo {
	width: 300px;
}

.values-list {
	list-style-type:none;
	font-size: 36px;

	li {
		display: inline;
		margin-left: 50px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

.red {
	color: rgb(240,65,85);
}

.orange {
	color: rgb(255,130,58);
}

.yellow {
	color: rgb(242,242,111);
}

.beige{
	color: rgb(255,247,189);
}

.dark-red {
	color: rgb(250,42,0);
}

.teal {
	color: rgb(149,207,183);
}

.lilac {
	color: rgb(249,64,116);
}

.item {
	padding-bottom: 2em;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.team-background {
	display: table;
  height: 30em;
  width: 100%;
  position: relative;
  background: image-url("success-mountain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bold {
	font-weight: 700;
	padding-left: 0;
}

.mission-statement-row{
	margin-top: 20px;
}

.student-spotlight {
	padding-bottom: 2em;
}

.team-inner {
	margin-top: 10%;
}

@media (max-width: 1200px) {
.headline > .container > h1 {font-size: 140px;}
.headline > .container > h2 {font-size: 63px;}
.featurette-divider {margin: 50px 0;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}
}

@media (max-width: 991px) {

.headline > .container > h1 {font-size: 105px;}
.headline > .container > h2 {font-size: 50px;}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {

.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.headline > .container > h1 {font-size: 60px;}
.headline > .container > h2 {font-size: 30px;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}
.featurette-image {max-width: 100%;}
.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}

}

.hero {
	margin-top: 51px;
	padding-top: 4em;
	padding-bottom: 4em;
  width: 100%;
  position: relative;
  background: image-url("action-banner-update.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact {
  width: 100%;
  position: relative;
  background: image-url("mountain-guy.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;

  .white {
  	color: #fff;
  	text-decoration: underline;
  }
}

.nav-padding-top {
	margin-top: 51px;
}

.team-container {
	padding-bottom: 2em;
}

.nav {
	li {
		margin-right: 5px;
	}
}

.border-bottom-red {
	border-bottom: rgb(240,65,85) 5px solid;
}

.border-bottom-orange {
	border-bottom: rgb(255,130,58) 5px solid;
}

.border-bottom-yellow {
	border-bottom: rgb(242,242,111) 5px solid;
}

.border-bottom-beige{
	border-bottom: rgb(255,247,189) 5px solid;
}

.border-bottom-dark-red {
	border-bottom: rgb(250,42,0) 5px solid;
}

.border-bottom-teal {
	border-bottom: rgb(149,207,183) 5px solid;
}

.border-bottom-lilac {
	border-bottom: rgb(249,64,116) 5px solid;
}

.margin-top-10 {
	margin-top: 10px;
}

.team-container {
	margin-top: 51px;
}

.img-rounded {
	border-radius: 20px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body {
	margin-top: 51px;}

.header-image {
	background: url(http://placehold.it/200x300) repeat;/* Use a tiling background image or a full width image - if you're using full width you will need to change no-repeat center center cover  */
	background-position: top;
	height: auto;
	display: block;
	width: 100%;
	text-align: center;
}

.headline {
	padding: 120px 0;
}

.headline > .container > h1 {
	font-size: 130px;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.9);
}

.headline > .container > h2 {
	font-size: 77px;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.9);
}

.featurette-divider {
	margin: 80px 0;
}
.featurette {
	overflow: hidden;
}

.featurette-image.pull-left {
	margin-right: 40px;
}
.featurette-image.pull-right {
	margin-left: 40px;
}

.featurette-heading {
	font-size: 50px;
}

footer {
	margin: 50px 0;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {
.headline > .container > h1 {font-size: 140px;}
.headline > .container > h2 {font-size: 63px;}
.featurette-divider {margin: 50px 0;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 991px) {

.headline > .container > h1 {font-size: 105px;}
.headline > .container > h2 {font-size: 50px;}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {

.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.headline > .container > h1 {font-size: 60px;}
.headline > .container > h2 {font-size: 30px;}

}

@media (max-width: 375px) {
.featurette-divider {margin: 10px 0;}
.featurette-image {max-width: 100%;}
.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}
}